@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Chuck Norris';
  src: url('./assets/fonts/Chuck Norris.otf');
}

#root {
  padding: 2rem;
  text-align: center;
}

.text-with-chuck-norris {
  font-family: 'Chuck Norris', Arial, sans-serif;
}

.quotation-marks {
  font-family: Inter;
  font-size: 2rem;
  opacity: 0.5;
  position: relative;
  top: 4px;
  margin: 0 2px;
}
